body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
#gameboard{
    width: 42rem;
    height: 42rem;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px white;
}

.square{
    width: 14rem;
    height: 14rem;
    background-color: black;
    border: solid 0.4rem grey;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 1.25rem solid green;
    box-sizing: border-box;
}
.x{
    height: 12rem;
    width: 12rem;
    position: relative;
    transform: rotate(45deg);
}
.x:before, .x:after{
    content: "";
    position: absolute;
    background-color: red;
}
.x:before{
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}
.x:after{
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}
